body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  header {
    text-align: right;
    background-color: #6294ff;
    color: #fff;
    padding: 20px;
  }

  .logo{
    text-align: left;
    width: 50%;
  }

  .menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
  }

  .center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .gallery a {
    display: block;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }